
.container_button {
    display: flex;
    justify-content: center;
}

.btn a {
    background-color: aqua;
    color: black;
    transition: color 0.7s ease-out 100ms;
    transition: background-color 0.7s ease-out 100ms;
    animation: showup 10s;

}
.btn a:hover {
    background-color: white;
    color:aqua;
}