{% extends "layout.html" %}
{% block content %}
<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='methodology.css') }}">

{{a}}
</head>
<!-- Header -->
<section>
    <div justify-content="left">
  
      <br>
      <span>
      <i class="formula">\[ \int_{a}^{b} x^2 \,dx \]</i>
    </span>
      <br>
    </div>
</section> 


{% endblock content %}